@charset "UTF-8";
/*******************         VARS                *****************************/
/***********************         fonts          ****************************/
@font-face {
  font-family: hamlake;
  src: url("../fonts/HAMLAKE.TTF"); }
/***************       STYLES       *********************/
body {
  font-family: hamlake; }

.navbar-toggle {
  border: 1px solid #91918d; }

.navbar-header {
  z-index: 1000; }

.container-fluid {
  overflow-x: hidden;
  padding: 0; }

.main_container {
  position: relative; }

.fullHeight {
  height: 100%; }

.hideOp {
  opacity: 0; }

header .pre_nav {
  /* height: 100px;*/ }
header #main-navbar {
  background: url("../svg/bricks.svg");
  margin-bottom: 0;
  z-index: 1000; }
  header #main-navbar li {
    font-size: 2em;
    width: 200px;
    text-align: center;
    z-index: 1000; }
header nav {
  /*   position: relative;*/
  /*   text-align: center;*/
  /*   height: 186px;*/
  /*   background: url(../svg/bricks-1.svg);*/
  /*   font-size: 2em;*/ }
  header nav > .container {
    overflow-y: visible; }
  header nav [class*="col-"] {
    /*   margin-top: 2%;*/ }
  header nav a {
    /* display: block;*/
    margin-top: 10%;
    color: black; }
  header nav .logo {
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 4;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

/*end of header*/
.divider-1 {
  height: 35px;
  width: 100%;
  background: url(../svg/divider-1.svg); }

.gradient {
  height: 130px;
  background-image: -webkit-linear-gradient(right, #586e66 50%, #83ad9e 50%);
  background-image: linear-gradient(to left, #586e66 50%, #83ad9e 50%);
  background-size: 5%; }

.obj-zone {
  position: relative; }
  .obj-zone .divider-2 {
    height: 138px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: url("../svg/divider-2-1-01-01.svg"); }
  .obj-zone .container .card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    /* ╨┤╨╛╤З╨╡╤А╨╜╨╕╨╡ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л ╨┤╨╛╨╗╨╢╨╜╤Л ╨╛╤В╨╛╨▒╤А╨░╨╢╨░╤В╤М╤Б╤П ╨▓ 3D ╨┐╤А╨╛╤Б╤В╤А╨░╨╜╤Б╤В╨▓╨╡ */
    position: absolute;
    z-index: 20;
    top: 38%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 115px;
    width: 173px; }
  .obj-zone .container .backface .back,
  .obj-zone .container .backface .front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
    /* ╨╛╨┐╤А╨╡╨┤╨╡╨╗╤П╨╡╤В ╨▒╤Г╨┤╨╡╤В ╨╗╨╕ ╨▓╨╕╨┤╨╜╨╛ ╨║╨╛╨╜╤В╨╡╨╜╤В ╤Н╨╗╨╡╨╝╨╡╨╜╤В╨░, ╨║╨╛╤В╨╛╤А╤Л╨╣ ╤Б ╨┐╨╛╨╝╨╛╤Й╤М╤О 3d ╤В╤А╨░╨╜╤Б╤Д╨╛╤А╨╝╨░╤Ж╨╕╨╣ ╨╛╤В╨▓╨╡╤А╨╜╤Г╤В ╨╗╨╕╤Ж╨╛╨╝ ╨╛╤В ╨┐╨╛╨╗╤М╨╖╨╛╨▓╨░╤В╨╡╨╗╤П */ }
  .obj-zone .container .front,
  .obj-zone .container .back {
    width: 100px;
    height: 50px;
    position: absolute;
    z-index: 20;
    width: 202px;
    height: 113px; }
  .obj-zone .container .front {
    background: url("../img/plate-open.png") no-repeat;
    background-size: contain; }
  .obj-zone .container .back {
    background: url("../img/plate-about.png") no-repeat;
    background-size: contain;
    -webkit-transform: rotate3d(0, 1, 0, 180deg);
            transform: rotate3d(0, 1, 0, 180deg); }
  .obj-zone .container .items {
    position: absolute;
    top: 15%;
    z-index: 2;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
        transform: scale(0.7); }
    .obj-zone .container .items:first-of-type {
      left: -2%; }
    .obj-zone .container .items:nth-of-type(2) {
      z-index: 3;
      left: 7%;
      top: 45%; }
    .obj-zone .container .items:nth-of-type(3) {
      left: 21%; }
  .obj-zone .container .row [class*='zone-'] {
    height: 582px;
    padding: 0;
    background-size: auto 60%; }
  .obj-zone .container .row .zone-1,
  .obj-zone .container .row .zone-3 {
    background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
    background-size: auto 60%;
    background-position: center 43%; }
  .obj-zone .container .row .zone-1-1 {
    background-position: right 43%; }
  .obj-zone .container .row .zone-3-1 {
    background-position: left 43%; }
  .obj-zone .container .row .zone-2 {
    background: url("../svg/1Scroll_door.svg") no-repeat;
    background-position: 0 225%;
    z-index: -100; }
  .obj-zone .container .static {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 60%;
    right: -12%; }

.floor {
  background: url("../svg/1Scroll_floor.svg");
  background-size: cover;
  height: 210px; }

.content-menu {
  height: 945px;
  background: url("../svg/2scroll-full-01-01.svg") no-repeat;
  background-size: auto 945px;
  background-position: bottom center;
  overflow: hidden;
  z-index: 2;
  font-family: hamlake; }
  .content-menu img {
    position: absolute;
    top: 0;
    left: 0; }
    .content-menu img:last-of-type {
      left: -3%; }
  .content-menu .content-menu__h3 {
    text-align: center;
    color: #eee;
    position: absolute; }
  .content-menu ul.ft li {
    color: #eee;
    text-align: left; }
  .content-menu ul.sd li {
    color: #232225;
    text-align: right; }
  .content-menu ul li {
    font-size: 3em;
    list-style: none; }

/*end of content-menu*/
.reservation {
  background-color: #90B4B7;
  background: url("../svg/res_back.svg"); }
  .reservation .container .row {
    /*   [class*='col-'] {*/
    /*     // height: 1200px;*/
    /*     padding: 0;*/
    /*   }*/ }
    .reservation .container .row #sceen {
      background: url("../svg/3Scroll_sceen .svg") no-repeat;
      background-size: 85%;
      background-position: center 0px; }
      .reservation .container .row #sceen .flower-place {
        width: 100%;
        position: relative; }
    .reservation .container .row img {
      position: absolute; }
    .reservation .container .row .windows {
      height: 100%;
      width: 85%;
      top: -3.5%; }
      .reservation .container .row .windows:first-of-type {
        /* left: 7.5%;*/ }
    .reservation .container .row .col-md-6 p {
      color: red;
      font-size: 2.5em;
      position: absolute;
      text-transform: uppercase;
      width: 255px;
      text-align: center;
      top: 56%;
      left: 30%; }
    .reservation .container .row .col-md-6 img:not(.sceen) {
      left: 43%; }

/*end of reservation*/
.hands-up {
  height: 830px;
  background: url(../img/hands-up-bg.png); }
  .hands-up .row img {
    width: 100%; }

/*  end of hands-up*/
footer {
  background: url("../svg/footer.svg") no-repeat;
  background-color: rgba(165, 212, 207, 0.4);
  background-size: 100% auto;
  overflow: hidden;
  height: 755px;
  width: 100%; }
  footer .footer-img {
    overflow-x: visible; }
    footer .footer-img #ballon {
      height: 330px; }
  footer .container {
    overflow: hidden;
    height: 100%; }
    footer .container .stuff {
      position: absolute;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }
      footer .container .stuff:last-of-type {
        top: -15%;
        left: -15%; }
    footer .container .row {
      height: 100%; }
      footer .container .row img {
        width: 95%;
        position: absolute;
        bottom: 95px; }
      footer .container .row img[src^='svg/footer-3'] {
        width: 85%
        /* margin-top: 119%;*/ }
      footer .container .row img[src^='svg/footer-1'] {
        /* margin-top: 119%;*/ }
      footer .container .row img[src^='svg/footer-2'] {
        /* margin-top: 92%;*/ }
      footer .container .row img[src^='svg/footer-4'] {
        /* margin-top: 201%;*/
        margin-left: -5%; }

/*end of footer*/
/*end of main container*/
/*----------------Media query--------------------------*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  header {
    z-index: 100; }
    header #main-navbar {
      background-repeat: repeat;
      max-height: 50px; }
      header #main-navbar li {
        font-size: 1em;
        width: 100%;
        /*    background-color: #eee;*/
        border-bottom: 1px solid #eee; }
        header #main-navbar li a {
          margin: 5px; }
      header #main-navbar #main-list {
        position: absolute;
        z-index: 1000 !important;
        background-color: white;
        width: 100%;
        margin-top: -2px; }
        header #main-navbar #main-list li {
          z-index: 1000; }
      header #main-navbar #ft-menu,
      header #main-navbar #sd-menu {
        display: none; }

  .logo-xs {
    width: 70px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1100; }

  .divider-1 {
    height: 10px; }

  .gradient {
    height: 55px;
    background-size: 10%; }

  .obj-zone {
    z-index: -9; }
    .obj-zone .divider-2 {
      height: 60px; }
    .obj-zone .container .card {
      top: 16%; }
    .obj-zone .container .row .zone-2 {
      height: 460px;
      background-size: contain;
      background-position: center 0px; }

  .floor {
    height: 120px; }

  .content-menu {
    height: 450px;
    background-image: url("../svg/2scrollLeft-02-01.svg");
    background-size: cover; }
    .content-menu ul {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0; }
      .content-menu ul li {
        font-size: 2em;
        color: #fff;
        text-align: center; }
    .content-menu .content-menu__h3 {
      width: 100%;
      font-size: 3em; }
    .content-menu #ft {
      top: 100px; }
      .content-menu #ft li {
        text-align: center; }
        .content-menu #ft li ul {
          position: relative;
          margin: 0; }
          .content-menu #ft li ul li {
            font-size: 0.6em; }
    .content-menu #sd {
      top: 110px; }
      .content-menu #sd li {
        text-align: center;
        color: #fff;
        text-shadow: 0 0 1px #fff; }

  .reservation {
    height: 400px;
    background-size: auto 400px; }
    .reservation img {
      height: auto;
      width: 65%;
      left: 50%;
      height: 400px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation .container .row #sceen {
      height: 400px;
      background-size: 200px;
      background-position: center 0px; }
      .reservation .container .row #sceen .flower-place {
        height: 238px; }
        .reservation .container .row #sceen .flower-place img {
          bottom: 100px; }
    .reservation .container .row #flower {
      height: auto;
      width: 8%;
      left: 50%; }
    .reservation .container .row #reservation-info {
      font-size: 0.8em;
      width: 90px;
      top: 240px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

  .hands-up {
    height: 350px; }
    .hands-up .container {
      /*   height: 350px;*/ }
      .hands-up .container .row img {
        /*   width: 100%;*/
        /*   margin-top:110px;*/
        position: absolute;
        width: 90%;
        bottom: 5px; }

  footer {
    height: 410px;
    background-size: auto 490px;
    background-position: 100% 60px; }
    footer .footer-img img:last-of-type {
      top: -50px !important;
      z-index: 200; }
    footer .container .row img {
      width: 90%;
      left: 5%;
      bottom: 65px; } }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .reservation .container .row #flower {
    width: 35px; }

  .hands-up .container .row img {
    width: 450px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); }

  footer .container .row img {
    width: 300px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .content-menu #ft li.active {
    color: #F4C273;
    font-size: 2.2em; }
    .content-menu #ft li.active::after {
      content: url("../img/cursor_click-1.png");
      width: 100px;
      height: 15px; }

  .content-menu {
    height: 520px;
    background-size: auto 521px; }

  header #main-navbar {
    max-height: 75px; }
    header #main-navbar li {
      width: 115px;
      font-size: 1em;
      border: none;
      margin-top: 6px; }
      header #main-navbar li a {
        margin-top: 0; }
    header #main-navbar #ft-menu,
    header #main-navbar #sd-menu {
      display: block; }
    header #main-navbar #main-list {
      display: none; }

  .gradient {
    background-size: 10%; }

  #static {
    right: -5%; }

  .obj-zone {
    z-index: 0; }

  .content-menu #sd li,
  .content-menu #ft li {
    text-align: center;
    font-size: 1.8em; }
  .content-menu #sd {
    padding-left: 20px;
    top: 110px; }
    .content-menu #sd li {
      color: #232225; }
  .content-menu #ft {
    padding-left: 0;
    top: 130px; }
  .content-menu .content-menu__h3 {
    width: 345px;
    top: 10px;
    font-size: 4em; }
  .content-menu .span__sd {
    margin-left: 40px; }
  .content-menu .sub__sd {
    font-size: 0.6em;
    text-align: center; }

  .reservation {
    height: 800px;
    background-size: auto 800px; }
    .reservation #reservation-info {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation img {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation .container .row #sceen {
      height: 800px;
      background-size: 53%;
      background-position: 48% 59%; }
      .reservation .container .row #sceen .flower-place {
        height: 470px; }
    .reservation .container .row img {
      height: 800px; }

  .hands-up {
    height: 650px; }
    .hands-up .container .row img {
      width: 95%; }

  footer {
    background-size: auto 760px;
    background-position: 100% 93px;
    height: 640px; }
    footer .container .row img {
      bottom: 120px;
      width: 90%; }

  .obj-zone .divider-2 {
    height: 110px; }
  .obj-zone .container .card {
    top: 27.5%; }
  .obj-zone .container .row [class*='zone-'] {
    height: 582px;
    padding: 0;
    background-size: auto 60%; }
  .obj-zone .container .row .zone-1,
  .obj-zone .container .row .zone-3 {
    background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
    background-size: auto 60%;
    background-position: center 43%; }
  .obj-zone .container .row .zone-1-1 img,
  .obj-zone .container .row .zone-3-1 img {
    position: absolute;
    top: 17%;
    left: -108%;
    width: 240%;
    height: auto; }
  .obj-zone .container .row .zone-3-1 img {
    left: -29%; }
  .obj-zone .container .row .zone-2 {
    background: url("../svg/1Scroll_door.svg") no-repeat;
    background-position: 0 102%; }

  .floor {
    height: 180px; }

  .content-menu {
    background: url("../svg/2scroll-full-01-01.svg") no-repeat;
    background-size: auto 525px;
    background-position: bottom center; }

  .reservation .container .row #reservation-info {
    font-size: 1.5em;
    width: 185px;
    top: 480px; }
  .reservation .container .row #flower {
    width: 8%; }

  .headhesive--unstick #main-navbar li {
    margin-top: 6px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .content-menu #ft li.active {
    color: #F4C273;
    font-size: 3.5em; }

  header #main-navbar {
    max-height: 125px; }
    header #main-navbar li {
      font-size: 2em;
      width: 250px;
      margin-top: 40px; }
  header nav {
    height: 165px; }

  .divider-1 {
    height: 35px;
    width: 100%;
    background: url(../svg/divider-1.svg);
    z-index: 100; }

  .gradient {
    height: 130px;
    background-size: 5%; }

  .content-menu {
    height: 945px;
    background: url("../svg/2scroll-full-01-01.svg"), url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/triangular.png");
    background-size: auto 945px, 10% 10%;
    background-repeat: no-repeat,repeat;
    background-position: bottom center;
    overflow: hidden;
    z-index: 2; }
    .content-menu img {
      position: absolute;
      top: 0;
      left: 0; }
      .content-menu img:last-of-type {
        left: -3%; }
    .content-menu ul {
      margin: 30% auto; }
      .content-menu ul.ft li {
        color: #eee;
        text-align: center; }
      .content-menu ul.sd li {
        color: #232225;
        text-align: center; }
      .content-menu ul li {
        font-size: 3em;
        list-style: none; }

  .obj-zone .container .board-text {
    position: absolute;
    top: 65%;
    left: 12%;
    z-index: 30;
    font-size: 3.5em;
    color: white;
    text-shadow: 0 0 3px #fff; }
  .obj-zone .container .card {
    top: 25%; }

  .content-menu #moon {
    margin-top: 20px; }
  .content-menu .content-menu__h3 {
    margin-top: 0;
    width: 450px;
    font-size: 8em; }
  .content-menu #ft,
  .content-menu #sd {
    width: 450px;
    position: absolute;
    top: -20px; }
    .content-menu #ft li,
    .content-menu #sd li {
      cursor: pointer;
      font-size: 3em; }
  .content-menu #ft {
    left: -122px; }
    .content-menu #ft li {
      text-align: center;
      margin-bottom: 10px; }
  .content-menu #sd {
    left: 8%;
    top: -110px; }
    .content-menu #sd li {
      text-align: center;
      color: #232225;
      margin-bottom: 40px;
      width: 490px; }

  .reservation {
    height: 1000px;
    background-size: auto 1000px; }
    .reservation img {
      width: 85%; }
    .reservation .container .row #sceen {
      background-size: 85%;
      height: 1000px; }
      .reservation .container .row #sceen .flower-place {
        height: 585px;
        position: relative; }
        .reservation .container .row #sceen .flower-place img {
          bottom: 300px; }
    .reservation .container .row img {
      height: 1000px; }
    .reservation .container .row .flowerpot {
      height: 450px;
      position: absolute;
      bottom: 70px; }
    .reservation .container .row .flowerpot-last {
      left: 20px; }
    .reservation .container .row .windows {
      height: 90%; }
    .reservation .container .row [class*='col-'] {
      height: 1000px; }
    .reservation .container .row #reservation-info {
      font-size: 2em;
      width: 210px;
      top: 59%; }
    .reservation .container .row #flower {
      width: 10%; }

  .hands-up {
    height: 830px; }
    .hands-up .container .row .hands-up__text {
      position: absolute;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      top: 80px; }
      .hands-up .container .row .hands-up__text .hands-up__text_point-1 {
        font-size: 2.2em;
        text-align: left;
        color: #664F22;
        margin-bottom: -20px; }
      .hands-up .container .row .hands-up__text .hands-up__text_point-2 {
        font-size: 4.5em;
        text-align: left;
        text-transform: uppercase;
        color: #664F22; }
      .hands-up .container .row .hands-up__text .hands-up__text_point-3 {
        font-size: 1.3em;
        text-align: right;
        color: red; }
      .hands-up .container .row .hands-up__text .hands-up__text_point-4 {
        font-size: 1.6em;
        text-align: right;
        color: red; }
    .hands-up .container .row #hands-left {
      bottom: 80px;
      left: 210px; }
    .hands-up .container .row #hands-right {
      bottom: 200px;
      left: -90px; }

  footer {
    background-position: -450px 50px;
    background-size: auto 123%; }
    footer .container .row {
      margin-top: -340px; }
      footer .container .row img {
        bottom: 95px; }

  .headhesive--unstick #main-navbar li {
    margin-top: 40px; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  footer {
    background-position: -80px 85px; } }
/* Second menu */
.headhesive--stick {
  z-index: 100;
  width: 100%;
  position: fixed;
  visibility: hidden;
  -webkit-transition: all 1s;
          transition: all 1s; }
  .headhesive--stick #main-navbar {
    border-radius: 0 0 5px 5px;
    height: 35px;
    background-image: none;
    background-color: #fff;
    opacity: 0.8;
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s; }
    .headhesive--stick #main-navbar li {
      margin-top: 0; }
  .headhesive--stick .logo {
    width: 100px; }

.headhesive-middle-unstick {
  visibility: visible;
  -webkit-transition: all 1s;
          transition: all 1s; }

/* Tablet landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  header #main-navbar li {
    width: 175px; }

  .obj-zone .container .row .zone-2 {
    background-position: center 100%; }

  .content-menu #ft li, .content-menu #sd li {
    font-size: 2em; }
    .content-menu #ft li.active, .content-menu #sd li.active {
      font-size: 2.5em; }

  .content-menu #ft {
    left: -75px; }

  .content-menu #sd {
    left: 0; }

  .content-menu .content-menu__h3 {
    width: 390px; }

  .reservation .container .row #reservation-info {
    font-size: 1.6em; }

  .hands-up {
    height: 625px; }

  .headhesive--unstick #main-navbar li {
    margin-top: 35px; } }
/*** Iphone landscape  ***/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .content-menu .content-menu__h3 {
    width: 100%; }

  .content-menu #ft {
    top: 90px; } }
