.container-fluid {
  overflow-x: hidden;
  padding: 0; }

.main_container {
  position: relative; }

.fullHeight {
  height: 100%; }

header #main-navbar {
  background: url("../svg/bricks.svg");
  margin-bottom: 0; }
  header #main-navbar li {
    font-size: 2em;
    width: 200px;
    text-align: center; }
header nav [class*="col-"] {
  margin-top: 2%; }
header nav a {
  margin-top: 10%;
  color: black; }
header nav .logo {
  position: absolute;
  top: 0;
  width: 210px;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
header .divider-1 {
  height: 35px;
  width: 100%;
  background: url(../svg/divider-1.svg); }
header .gradient {
  height: 130px;
  background-image: -webkit-linear-gradient(right, #586e66 50%, #83ad9e 50%);
  background-image: linear-gradient(to left, #586e66 50%, #83ad9e 50%);
  background-size: 5%; }

/*end of header*/
.obj-zone {
  position: relative; }
  .obj-zone .divider-2 {
    height: 138px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: url("../svg/divider-2-1-01-01.svg"); }
  .obj-zone .container .working-Status {
    position: absolute;
    font-size: 2.2em;
    z-index: 10;
    top: 38%;
    left: 46%; }
  .obj-zone .container .items {
    position: absolute;
    top: 49%;
    z-index: 2;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
        transform: scale(0.7); }
    .obj-zone .container .items:first-of-type {
      left: -2%; }
    .obj-zone .container .items:nth-of-type(2) {
      z-index: 3;
      left: 7%;
      top: 45%; }
    .obj-zone .container .items:nth-of-type(3) {
      left: 21%; }
  .obj-zone .container .row [class*='zone-'] {
    height: 582px;
    padding: 0;
    background-size: auto 60%; }
  .obj-zone .container .row .zone-1,
  .obj-zone .container .row .zone-3,
  .obj-zone .container .row .zone-1-1,
  .obj-zone .container .row .zone-3-1 {
    background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
    background-size: auto 60%;
    background-position: center 43%; }
  .obj-zone .container .row .zone-1-1 {
    background-position: right 43%; }
  .obj-zone .container .row .zone-3-1 {
    background-position: left 43%; }
  .obj-zone .container .row .zone-2 {
    background: url("../svg/1Scroll_door.svg") no-repeat;
    background-position: 0 225%; }
  .obj-zone .container .static {
    position: absolute;
    height: 70%;
    width: 70%;
    top: 60%;
    right: -12%; }

.floor {
  background: url("../svg/1Scroll_floor.svg");
  background-size: cover;
  height: 210px; }

.content-menu {
  height: 945px;
  background: url("../svg/2scroll-full-01-01.svg") no-repeat;
  background-size: auto 945px;
  background-position: bottom center;
  overflow: hidden;
  z-index: 2; }
  .content-menu img {
    position: absolute;
    top: 0;
    left: 0; }
    .content-menu img:last-of-type {
      left: -3%; }
  .content-menu ul {
    margin: 30% auto; }
    .content-menu ul.ft li {
      color: #eee;
      text-align: left; }
    .content-menu ul.sd li {
      color: #232225;
      text-align: right; }
    .content-menu ul li {
      font-size: 3em;
      list-style: none; }

/*end of content-menu*/
.reservation {
  background-color: #90B4B7;
  background: url("../svg/res_back.svg"); }
  .reservation .container .row img {
    position: absolute; }
  .reservation .container .row .windows {
    height: 100%;
    width: 85%;
    top: -3.5%; }
  .reservation .container .row .col-md-6 p {
    color: red;
    font-size: 2.5em;
    position: absolute;
    text-transform: uppercase;
    width: 255px;
    text-align: center;
    top: 56%;
    left: 30%; }
  .reservation .container .row .col-md-6 img:not(.sceen) {
    top: 47.5%;
    left: 43%; }

/*end of reservation*/
.hands-up {
  height: 830px;
  background: url(../img/hands-up-bg.png); }
  .hands-up .row img {
    width: 100%; }
  .hands-up .row .col-md-7 img {
    margin-top: 50%; }
  .hands-up .row .col-md-3 img {
    margin-top: 24%;
    margin-left: 47%; }
  .hands-up .row .col-md-2 img {
    width: 120%;
    margin-top: 230%;
    margin-left: -115%; }

/*  end of hands-up*/
footer {
  background: url("../svg/footer.svg") no-repeat;
  background-color: rgba(165, 212, 207, 0.4);
  background-size: 100% auto;
  overflow: hidden;
  height: 755px;
  width: 100%; }
  footer .container {
    overflow: hidden;
    height: 100%; }
    footer .container .stuff {
      position: absolute;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8); }
      footer .container .stuff:last-of-type {
        top: -15%;
        left: -15%; }
    footer .container .row {
      height: 100%; }
      footer .container .row img {
        width: 95%;
        position: absolute;
        bottom: 95px; }
      footer .container .row img[src^='svg/footer-3'] {
        width: 85%; }
      footer .container .row img[src^='svg/footer-4'] {
        margin-left: -5%; }

/*end of footer*/
/*end of main container*/
/*----------------Media query--------------------------*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  header #main-navbar {
    background-repeat: repeat; }
    header #main-navbar li {
      font-size: 1em; }
  header .divider-1 {
    height: 10px; }
  header .gradient {
    height: 55px;
    background-size: 10%; }

  .obj-zone .divider-2 {
    height: 75px; }
  .obj-zone .container .working-Status {
    top: 28%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
  .obj-zone .container .row .zone-2 {
    height: 460px;
    background-size: contain;
    background-position: center 0px; }

  .floor {
    height: 120px; }

  .content-menu {
    height: 450px;
    background-image: url("../svg/2scrollLeft-01.svg");
    background-size: cover; }
    .content-menu ul li {
      font-size: 2em; }

  .reservation {
    height: 450px;
    background-size: auto 450px; }
    .reservation img {
      height: auto;
      width: 65%;
      left: 50%;
      height: 450px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation .container .row #flower {
      height: auto;
      width: 8%;
      left: 50%;
      top: 205px; }
    .reservation .container .row #reservation-info {
      font-size: 0.9em;
      width: 118px;
      top: 255px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

  .hands-up {
    height: 450px; }
    .hands-up .container {
      height: 450px; }
      .hands-up .container .row img {
        width: 100%;
        margin-top: 175px; }

  footer {
    height: 410px;
    background-size: auto 450px; }
    footer .container .row img {
      width: 90%;
      left: 5%;
      bottom: 65px; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .content-menu {
    height: 520px;
    background-size: auto 521px; }

  header .gradient {
    background-size: 10%; }

  #static {
    right: -5%; }

  .content-menu #sd li, .content-menu #ft li {
    text-align: center;
    font-size: 2em; }

  .reservation {
    height: 1200px;
    background-size: auto 1200px; }
    .reservation #reservation-info {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation img {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
    .reservation .container .row img {
      height: 1200px; }

  .hands-up {
    height: 650px; }
    .hands-up #hands-middle {
      margin-top: 15%; }
    .hands-up img {
      margin-top: 15%; }

  footer {
    background-size: auto 755px;
    background-position: right;
    height: 640px; }
    footer .container .row img {
      bottom: 120px; }

  .obj-zone .container .working-Status {
    top: 38%; }
  .obj-zone .container .row [class*='zone-'] {
    height: 582px;
    padding: 0;
    background-size: auto 60%; }
  .obj-zone .container .row .zone-1,
  .obj-zone .container .row .zone-3,
  .obj-zone .container .row .zone-1-1,
  .obj-zone .container .row .zone-3-1 {
    background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
    background-size: auto 60%;
    background-position: center 43%; }
  .obj-zone .container .row .zone-1-1 {
    background-position: right 43%; }
  .obj-zone .container .row .zone-3-1 {
    background-position: left 43%; }
  .obj-zone .container .row .zone-2 {
    background: url("../svg/1Scroll_door.svg") no-repeat;
    background-position: 0 225%; }

  .floor {
    height: 180px; }

  .content-menu {
    background: url("../svg/2scroll-full-01-01.svg") no-repeat;
    background-size: auto 525px;
    background-position: bottom center; }

  .reservation .container .row #reservation-info {
    font-size: 2em;
    width: 250px;
    top: 675px; }
  .reservation .container .row #flower {
    top: 575px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  header .divider-1 {
    height: 35px;
    width: 100%;
    background: url(../svg/divider-1.svg); }
  header .gradient {
    height: 130px;
    background-size: 5%; }
  header nav {
    height: 165px; }

  .content-menu {
    height: 945px;
    background: url("../svg/2scroll-full-01-01.svg") no-repeat;
    background-size: auto 945px;
    background-position: bottom center;
    overflow: hidden;
    z-index: 2; }
    .content-menu img {
      position: absolute;
      top: 0;
      left: 0; }
      .content-menu img:last-of-type {
        left: -3%; }
    .content-menu ul {
      margin: 30% auto; }
      .content-menu ul.ft li {
        color: #eee;
        text-align: left; }
      .content-menu ul.sd li {
        color: #232225;
        text-align: right; }
      .content-menu ul li {
        font-size: 3em;
        list-style: none; }

  .reservation img {
    width: 85%; }
  .reservation .container .row [class*='col-'] {
    height: 1200px; }
  .reservation .container .row #reservation-info {
    font-size: 2em;
    width: 210px;
    top: 56%; }
  .reservation .container .row #flower {
    width: 10%;
    top: 48%; }

  .hands-up {
    height: 830px; }
    .hands-up #hands-middle {
      margin-top: 50%; }
    .hands-up .container .row img {
      margin-top: 20%; }
      .hands-up .container .row img#hands-right {
        margin-top: 315px; }

  footer {
    background-position: center; } }
/* Large Devices, Wide Screens */

/*# sourceMappingURL=styles.css.map */