$color2: #eee;
$color3: rgb(35, 34, 37);
.container-fluid {
  overflow-x: hidden;
  padding: 0;
}
.main_container{
  position: relative;
}
.fullHeight{
  height: 100%;
}
header {
  nav {
    position: relative;
    text-align: center;
    height: 186px;
    background: url(../svg/bricks-1.svg);
    font-size: 2em;
    [class*="col-"] {
      margin-top: 2%;
    }
    a {
      // display: block;
      margin-top: 10%;
      color: black;
    }
    .logo {
      position: absolute;
      top: 0;
      width: 210px;
      z-index: 4;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .divider-1 {
    height: 35px;
    width: 100%;
    background: url(../svg/divider-1.svg);
  }
  .gradient {
    height: 130px;
    background-image: -webkit-linear-gradient(right,#586e66 50%,#83ad9e 50%);
    background-image: linear-gradient(to left,#586e66 50%,#83ad9e 50%);
    background-size: 5%;
  }
}
/*end of header*/
.obj-zone {
    position: relative;
  .divider-2 {
    height: 138px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    z-index: 2;
    background: url("../svg/divider-2-1-01-01.svg");
  }
  .container {
    .working-Status {
      position: absolute;
      font-size: 2.2em;
      z-index: 10;
      top: 38%;
      left: 46%;
    }
    .items {
      position: absolute;
      top: 49%;
      z-index: 2;
      -webkit-transform: scale(.7);
      transform: scale(.7);
      &:first-of-type {
        left: -2%;
      }
      &:nth-of-type(2) {
        z-index: 3;
        left: 7%;
        top: 45%;
      }
      &:nth-of-type(3) {
        left: 21%;
      }
    }
    .row {
      [class*='zone-'] {
        height: 582px;
        padding: 0;
        background-size: auto 60%;
      }
      .zone-1,
      .zone-3,
      .zone-1-1,
      .zone-3-1 {
        background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
        background-size: auto 60%;
        background-position: center 43%;
      }
      .zone-1-1 {
        background-position: right 43%;
      }
      .zone-3-1 {
        background-position: left 43%;
      }
      .zone-2 {
        background: url("../svg/1Scroll_door.svg") no-repeat;
        background-position: 0 225%;
      }
    }
    .static {
      position: absolute;
      height: 70%;
      width: 70%;
      top: 60%;
      right: -12%;
    }
  }
}
.floor {
  background: url("../svg/1Scroll_floor.svg");
  background-size: cover;
  height: 210px;
}
.content-menu {
  height: 945px;
  background: url("../svg/2scroll-full-01-01.svg") no-repeat;
  background-size: auto 945px;
  background-position: bottom center;
  overflow: hidden;
  z-index: 2;
  img {
    position: absolute;
    top: 0;
    left: 0;
    &:last-of-type {
      left: -3%;
    }
  }
  ul {
    margin: 30% auto;
    &.ft {
      li {
        color: $color2;
        text-align: left;
      }
    }
    &.sd {
      li {
        color: $color3;
        text-align: right;
      }
    }
    li {
      font-size: 3em;
      list-style: none;
    }
  }
}
/*end of content-menu*/
.reservation {
  background-color: #90B4B7;
  background: url("../svg/res_back.svg") ;
  .container {
    .row {
      [class*='col-'] {
        // height: 1200px;
        padding: 0;
      }
      img {
        position: absolute;
      }
      .windows {
        height: 100%;
        width: 85%;
        top: -3.5%;
        &:first-of-type {
          // left: 7.5%;
        }
      }
      .col-md-6 {
        p {
          color: red;
          font-size: 2.5em;
          position: absolute;
          text-transform: uppercase;
          width: 255px;
          text-align: center;
          top: 56%;
          left: 30%;
        }
        img:not(.sceen) {
          top: 47.5%;
          left: 43%;
        }
      }
    }
  }
}
/*end of reservation*/
.hands-up {
  height: 830px;
  background: url(../img/hands-up-bg.png);
  .row {
    img {
      width: 100%;
    }
    .col-md-7 {
      img {
        margin-top: 50%;
      }
    }
    .col-md-3 {
      img {
        margin-top: 24%;
        margin-left: 47%;
      }
    }
    .col-md-2 {
      img {
        width: 120%;
        margin-top: 230%;
        margin-left: -115%;
      }
    }
  }
}
/*  end of hands-up*/
footer {
  background: url("../svg/footer.svg") no-repeat;
  background-color: rgba(165,212,207,0.4);
  background-size: 100% auto;
  overflow: hidden;
  height: 755px;
  width: 100%;
  .container {
    overflow: hidden;
    height: 100%;
    .stuff {
      position: absolute;
      -webkit-transform: scale(.8);
      transform: scale(.8);
      &:last-of-type {
        top: -15%;
        left: -15%;
      }
    }
    .row {

      height: 100%;
      img {
        width: 95%;
        position: absolute;
        bottom: 95px;
      }
      img[src^='svg/footer-3'] {
        width: 85%;
        // margin-top: 119%;
      }
      img[src^='svg/footer-1'] {
        // margin-top: 119%;
      }
      img[src^='svg/footer-2'] {
        // margin-top: 92%;
      }
      img[src^='svg/footer-4'] {
        // margin-top: 201%;
        margin-left: -5%;
      }
    }
  }
}
/*end of footer*/
/*end of main container*/

/*----------------Media query--------------------------*/


/* Custom, iPhone Retina */
   @media only screen and (min-width : 320px) {
     header{
       nav{
           height: 105px;

       }
       .divider-1{
         height: 10px;
       }
       .gradient{
         height: 55px;
         background-size: 10%;
       }
     }
     .obj-zone{
       .divider-2{
         height: 75px;
       }
       .container{
         .working-Status{
           top:28%;
           left:50%;
           transform: translateX(-50%);
         }
         .row{
           .zone-2{
             height: 460px;
             background-size: contain;
             background-position: 17px 0px;
           }
         }
       }
     }
      .floor{
        height: 120px;
      }
      .content-menu{
        height: 450px;
      }
      .reservation{
        height: 450px;
        background-size: auto 450px;
        img{
          height: auto;
          width: 65%;
          left: 50%;
          transform: translateX(-50%);

        }
        .container{
          .row{
            #flower{
              height: auto;
              width: 8%;
              left: 50%;
              top:18%;
            }
            #reservation-info{
              font-size: 0.9em;
              width: 118px;
              top: 22%;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
      }
      .hands-up{
        height: 450px;
        .container{
          height: 450px;
          .row{
            img{
              width: 100%;
              margin-top: 65%;
            }
          }
        }
      }
      footer{
        height: 450px;
        background-size: auto 450px;
        .container{
          .row{
            img{
              width: 90%;
              left:5%;
              bottom: 65px;
            }
          }
        }
      }
   }

   /* Extra Small Devices, Phones */
   @media only screen and (min-width : 480px) {

   }

   /* Small Devices, Tablets */
   @media only screen and (min-width : 768px) {
     .content-menu{
       height: 520px;
       background-size: auto 521px;
     }
    header{
      .gradient{
        background-size: 10%;
      }
    }
    #static{
      right: -5%;
    }
    .content-menu{
      #sd,#ft{
        text-align: center;
        li{
          font-size: 2em;
        }
      }
      }
      .reservation{
        height: 1200px;
        background-size: auto 1200px;
        #reservation-info{
          left: 50%;
          transform: translateX(-50%);
        }
        img{
          left:50%;
          transform: translateX(-50%);
        }
        .container{
          .row{
            img{
              height: 1200px;
            }
          }
        }
      }
      .hands-up{
        height: 650px;
        #hands-middle{
          margin-top: 15%;
        }
        img{
          margin-top: 15%;
        }
      }
      footer{
        background-size: auto 755px;
        background-position: right;
        height: 755px;
        .container{
          .row{
            img{
              bottom: 95px;
            }
          }
        }
      }

      .obj-zone{
        .container{
          .working-Status{
            top:38%;
          }
          .row {
            [class*='zone-'] {
              height: 582px;
              padding: 0;
              background-size: auto 60%;
            }
            .zone-1,
            .zone-3,
            .zone-1-1,
            .zone-3-1 {
              background: url("../svg/1Scroll_windows 1-1.svg") no-repeat;
              background-size: auto 60%;
              background-position: center 43%;
            }
            .zone-1-1 {
              background-position: right 43%;
            }
            .zone-3-1 {
              background-position: left 43%;
            }
            .zone-2 {
              background: url("../svg/1Scroll_door.svg") no-repeat;
              background-position: 0 225%;

        }
      }
    }
  }
  .floor{
    height: 180px;
  }
    }



   /* Medium Devices, Desktops */
   @media only screen and (min-width : 992px) {
      header{
        .divider-1 {
          height: 35px;
          width: 100%;
          background: url(../svg/divider-1.svg);
        }
        .gradient {
          height: 130px;
          background-size: 5%;
        }
        nav{
          height: 165px;
        }
      }
      .content-menu {
        height: 945px;
        background: url("../svg/2scroll-full-01-01.svg") no-repeat;
        background-size: auto 945px;
        background-position: bottom center;
        overflow: hidden;
        z-index: 2;
        img {
          position: absolute;
          top: 0;
          left: 0;
          &:last-of-type {
            left: -3%;
          }
        }
        ul {
          margin: 30% auto;
          &.ft {
            li {
              color: $color2;
              text-align: left;
            }
          }
          &.sd {
            li {
              color: $color3;
              text-align: right;
            }
          }
          li {
            font-size: 3em;
            list-style: none;
          }
        }
      }
      .reservation{
        img{
          width: 85%;
        }
        .container{
          .row{
            [class*='col-']{
              height: 1200px;
            }
          }
        }
      }
      .hands-up{
        height: 830px;
      }
      footer{
        background-position: center;
      }
   }

   /* Large Devices, Wide Screens */
   @media only screen and (min-width : 1200px) {

   }
